body
  overflow-x: hidden!important
  padding: 0
  margin: 0
  font-family: sans-serif !important


.short_note
  padding-top: 15rem
  padding-left: 4rem

.img-header
  color: #ffffff
  line-height: 1.9
  font-size: 2rem

.header_bg
  background-color: $brand-main
@media screen and(max-width: 680px)
  .short_note
    padding-top: 13.5rem
    padding-left: 1.8rem
    .img-header
      font-size: 28px
      line-height: 2.0

@media screen and(min-width: 680px)
  div.section_header
    font-size: 3rem
    text-align: center
    h1
      margin-bottom: 0
    hr
      width: 25%
      height: 5px
      background-color: $brand-main
      text-align: center
      border: none

@media screen and(max-width: 680px)
  div.section_header
    font-size: 1.5rem
    text-align: center
    h1
      margin-bottom: 0
    hr
      width: 25%
      height: 5px
      background-color: $brand-main
      border: none

@media screen and(min-width: 680px)
  div.about_text
    text-align: center
    font-size: 25px
    line-height: 1.2
