button.member_btn
  padding: 4px
  background: transparent
  border: 1px solid $brand-primary
  color: $brand-primary
  margin-left: 7rem !important
  cursor: pointer
  transition: all .5s ease-in-out
  &:hover
    background-color: $brand-primary
    color: $brand-main

button.responsive_drop
  background: none
  padding: 8px 13px
  border: 1px solid #000
  cursor: pointer
  font-size: 1.5rem
  margin: 10px
  display: none

button.img-btn
  padding: 10px 20px
  font-size: 20px
  cursor: pointer
  background-color: #ffffff
  color: $brand-main
  border: none
  transition: all .5s ease-in-out
  &:hover
    background-color: $brand-main
    color: #ffffff


@media screen and(max-width: 680px)
  button.responsive_drop
    display: block!important
    right: 0
    top: 0
    position: absolute
    vertical-align: middle

@media screen and(min-width: 680px)
  button.submit_btn
    padding: 10px 35px
    background-color: $brand-main
    margin-top: 15px
    border: none
    font-size: 20px
    margin-bottom: 2rem
    font-weight: 700
    color: #ffffff
    cursor: pointer
    border-radius: 3px
    &:hover
      background-color: darken($brand-main, 10%)

@media screen and(max-width: 680px)
  button.submit_btn
    padding: 10px 25px
    background-color: $brand-main
    margin-top: 15px
    border: none
    font-size: 18px
    margin-bottom: 2rem
    font-weight: 700
    color: #ffffff
    cursor: pointer
    border-radius: 3px
    &:hover
      background-color: darken($brand-main, 10%)
@media screen and (min-width: 680px)
  #burger-container
    display: none
@media screen and (max-width: 680px)
  #burger-container
    position: absolute
    display: block!important
    right: 0
    top: 0
    position: absolute
    vertical-align: middle
    width: 50px
    margin-top: 10px
  #burger
    cursor: pointer
    display: block
    span
      background-color: #000
      display: block
      width: 50px
      height: 5px
      margin-bottom: 5px
      position: relative
      top: 0
      transition: all ease-in-out 0.5s
