img.nav_logo
  display: block
  padding-top: 5px
  padding-bottom: 10px

@media screen and(min-width: 680px)
  img.about_img
    width: 80%
    height: 300px
    margin-top: 1.8rem!important
    // padding: 20px
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5)

@media screen and(max-width: 680px)
  img.nav_logo
    width: 60px
    height: 70px
